<html>
    <head>
        <title>Polls recentes</title>
        <meta chartset="utf-8">
        <meta name="author" content="Matheus Soares Martins">
        <meta name="description" content="Site para exibir as enquentes recentes publicadas.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    </head>

    <body>
        {% if latest_question_list %} <!-- Verifica se há polls para serem exibidos.(Se a variável não é vazia) -->
            <ul>
                {% for question in latest_question_list %} <!-- Percorre cada instância de objeto question que exite na variável latest_question_list -->
                    <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </body>
</html>
